:root {
    --color-background: #111;
}

$palettes: (
    teal: (
        '50': '#effbfc',
        '100': '#d7f3f6',
        '200': '#b4e8ed',
        '300': '#80d6e0',
        '400': '#4ebecd',
        '500': '#2a9fb0',
        '600': '#268194',
        '700': '#256879',
        '800': '#265664',
        '900': '#234956',
        '950': '#122f3a',
    )
);


:root {
    @each $colorname, $palette in $palettes {
        @each $key, $value in $palette {
            $keyname: "--palette-" + $colorname + "-" + $key;
            #{$keyname}: #{$value};
        }
    }
  }