@font-face {
    font-family: 'Beon';
    src: url('fonts/Beon-Regular.woff2') format('woff2'),
        url('fonts/Beon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lunasima';
    src: url('fonts/Lunasima-Bold.woff2') format('woff2'),
        url('fonts/Lunasima-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lunasima';
    src: url('fonts/Lunasima-Regular.woff2') format('woff2'),
        url('fonts/Lunasima-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}